<header class="clearfix">
    <div id="stuck_container" class="stuck_container clearfix">
        <nav class="navbar navbar-default navbar-static-top clearfix">
            <div class="container">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a data-type='rd-navbar-brand' routerLink="/home" routerLinkActive="active">School District
                        </a>
                    </h1>
                </div>
                <ul class="inline-list">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google-plus" href="#"></a>
                    </li>
                </ul>
                <ul class="navbar-nav sf-menu" data-type="navbar">
                    <li>
                        <a routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/courses" routerLinkActive="active" class="sf-with-ul">About Courses </a>
                        <!-- <ul class="dropdown-menu" style="display: none;">
                            <li>
                                <a href="#"> Who we are</a>
                            </li>
                            <li>
                                <a href="#">Departments</a>
                            </li>
                            <li class="">
                                <a  href="#">Schools</a>
                              
                            </li>
                            <li>
                                <a href="#">Staff</a>
                            </li>
                            <li>
                                <a href="#">Calendars &amp; news </a>
                            </li>
                            <li>
                                <a href="#">Useful Links</a>
                            </li>
                        </ul> -->
                    </li>
                    <li>
                        <a routerLink="/teachers" routerLinkActive="active">Gallery</a>
                    </li>
                    <li>
                        <a routerLink="/new1s" routerLinkActive="active">News</a>
                    </li>

                    <li>
                        <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>