<footer>
    <section class="clearfix well4">
        <div class="container">
            <div class="contact pull-left">
                <span class="material-icons-location_on"></span>
                <address class="h4 text-primary">New York, 4578 Marmora Road,
                    <br/> Glasgow D04 89GR
                </address>
            </div>
            <div class="contact pull-right">
                <span class="material-icons-local_phone"></span>
                <a href="callto:#">800-2345-6789; </a>
                <a href="callto:#"> 800-2345-6790</a>

                <p class="offs">7 days a week from 8:00 am to 7:00 pm</p>
            </div>
        </div>
    </section>
    <hr/>
    <div class="container">
        <p class="copyright">
            <a href="#">School District </a> &#169;
            <span id="copyright-year"></span>.
            <a class="text-primary" href="index-5.html">Privacy Policy</a>
            <!-- {%FOOTER_LINK} -->
        </p>
    </div>
</footer>