<div class="camera_container" data-mobile="true">
  <div id="camera" class="camera_wrap" style="display: block;">
    <div class="camera_fakehover">
      <div class="camera_src camerastarted">
        <div data-src="assets/images/slide-1.jpg">

        </div>
        <div data-src="assets/images/slide-2.jpg">

        </div>
        <div data-src="assets/images/slide-3.jpg">

        </div>
      </div>
      <div class="camera_target">
        <div class="cameraCont">
          <div class="cameraSlide cameraSlide_0" style="visibility: visible; display: none; z-index: 1;">
            <img src="assets/images/slide-1.jpg?1511841472480" class="imgLoaded" data-alignment="" data-portrait="" width="2048" height="869"
              style="visibility: visible; height: 781px; margin-left: -0.303797px; margin-top: 0px; position: absolute; width: 1840.61px;">
            <div class="camerarelative" style="width: 1840px; height: 781px;"></div>
          </div>
          <div class="cameraSlide cameraSlide_1" style="display: none; z-index: 1;">
            <img src="assets/images/slide-2.jpg?1511841473786" class="imgLoaded" data-alignment="" data-portrait="" width="2048" height="869"
              style="visibility: visible; height: 781px; margin-top: 0px; position: absolute; margin-left: -0.303797px; width: 1840.61px;">
            <div class="camerarelative" style="width: 1840px; height: 781px;"></div>
          </div>
          <div class="cameraSlide cameraSlide_2 cameracurrent" style="display: block; z-index: 999;">
            <img src="assets/images/slide-3.jpg?1511841475673" class="imgLoaded" data-alignment="" data-portrait="" width="2048" height="869"
              style="visibility: visible; height: 781px; margin-left: -0.303797px; margin-top: 0px; position: absolute; width: 1840.61px;">
            <div class="camerarelative" style="width: 1840px; height: 781px;"></div>
          </div>
          <div class="cameraSlide cameraSlide_3 cameranext" style="z-index: 1; display: none;">
            <div class="camerarelative" style="width: 1840px; height: 781px;"></div>
          </div>
        </div>
      </div>
      <div class="camera_overlayer"></div>
      <div class="camera_target_content">
        <div class="cameraContents">
          <div class="cameraContent" style="display: none;">
            <div class="camera_caption fadeIn" style="visibility: hidden; opacity: 1;">
              <div>
                <div class="container">
                  <h1>Helping each of our
                    <br> students fulfill the potential</h1>

                  <p>Welcome to School District's Website. Our School District is a small district when it comes to
                    <br>the number of students in it but a large district when it comes to the amount of area it covers.</p>
                  <a routerLink="/details" routerLinkActive="active" class="btn btn-primary">Read More</a>
                </div>

              </div>
            </div>
          </div>
          <div class="cameraContent" style="display: none;">
            <div class="camera_caption fadeIn white" style="visibility: hidden; opacity: 1;">
              <div>
                <div class="container">
                  <h1 class="white">Providing safe and
                    <br> educational environment</h1>

                  <p>The district has two high schools, one elementary school and two one-room elementary
                    <br> schools with facilities needed to implement a successful public school program.</p>
                  <a routerLink="/details" routerLinkActive="active" class="btn btn-primary">Read More</a>
                </div>

              </div>
            </div>
          </div>
          <div class="cameraContent cameracurrent" style="display: block;">
            <div class="camera_caption fadeIn" style="visibility: visible; opacity: 1;">
              <div>
                <div class="container">
                  <h1>Providing students
                    <br> scrupulous academics</h1>

                  <p>The District has received county, state, and national recognition for outstanding programs
                    <br>in counseling, alternative education, staff development, and labor relations. </p>
                  <a routerLink="/courses" routerLinkActive="active" class="btn btn-primary">Read More</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="camera_bar" style="display: none; top: auto; height: 7px;">
        <span class="camera_bar_cont" style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; background-color: rgb(34, 34, 34);">
          <span id="pie_0" style="opacity: 0.8; position: absolute; left: 0px; right: 0px; top: 2px; bottom: 2px; display: none; background-color: rgb(238, 238, 238);"></span>
        </span>
      </div>
      <div class="camera_nav">
        <div class="camera_prev"></div>
        <div class="camera_next"></div>
        <div class="camera_index"></div>
      </div>
    </div>
    <div class="camera_loader" style="display: none; visibility: visible;"></div>
  </div>
</div>
<!-- hien thi thong tin khoa hoc -->
<section class="well bg-primary">
  <div class="container center767">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
        <article class="block-icon white">
          <span class="material-icons-domain"></span>

          <div class="block_caption">
            <h2>Offering success
              <span>orientation for each student</span>
            </h2>

            <p>The School District of Palm Beach County is committed to providing a world-class education with excellence and
              equity to empower each student to reach his or her highest potential.
            </p>

            <a routerLink="/courses" routerLinkActive="active" class="btn btn-default">Read More</a>

          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
        <article class="block-icon white">
          <span class="material-icons-face"></span>

          <div class="block_caption">
            <h2>We work hard to
              <span>improve student achievement</span>
            </h2>

            <p>Our School District values the history of our schools and community. We support the personal and intellectual
              success of each student. Our graduates will be productive and well informed citizens.
            </p>

            <a routerLink="/courses" routerLinkActive="active" class="btn btn-default">Read More</a>

          </div>
        </article>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
        <article class="block-icon white">
          <span class="material-icons-wb_sunny"></span>

          <div class="block_caption">
            <h2>Preparing students
              <span>for successful future!</span>
            </h2>

            <p>We prepare our students to meet the demands of an increasingly technological world, indeed if it is to be effective
              at all, it must integrate technology into the academic curriculum.</p>

            <a routerLink="/courses" routerLinkActive="active" class="btn btn-default">Read More</a>

          </div>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- Tin tuc -->
<section class="well2">
  <div class="container">
    <h2>Courses And New</h2>
    <div class="accordion">
      <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.0s">
        <a routerLink="/courses" routerLinkActive="active">
            <h3>Courses</h3>
        </a>
        
      </div>

      <div class="accordion_cnt">
        <table>
          <tr>
            <th>NAME</th>
            <th>PRICE</th>
          </tr>

          <tr *ngFor="let course of courses">
            <td>
              {{course.name}}
            </td>
            <td>{{course.price}}.vnd
            </td>
          </tr>
        </table>
      </div>

      <div class="container">
        <hr/>
      </div>
      <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.0s">
        <a routerLink="/new1s" routerLinkActive="active">
            <h3>New</h3>
        </a>
      </div>
      <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s"  *ngFor="let new1 of new1s ">
        <h4 style="color:green">{{new1.titel}}</h4>
        <div class="accordion_cnt">{{new1.description}}
          </div>
      </div>
    </div>
  </div>

</section>
<!-- rieng trang home moi co -->
<section class="parallax well3" data-src="assets/images/parallax1.jpg" data-mobile="true">
  <div class="parallax_image" style="height: 695px; transform: translate3d(0px, -30.673px, 0px); background-image: url(&quot;assets/images/parallax1.jpg&quot;); background-color: inherit;"></div>
  <div class="parallax_cnt">
    <div class="container text-center">
      <h2 class="wow fadeInLeft animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">Newsletter</h2>

      <p class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInRight;">Subscribe to our newsletter to receive news, updates, and another stuff by email.</p>
      <div class="modal-body">
          <form  [formGroup]="createContact">
            <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod">
              <label class="form-label" data-add-placeholder for="mailform-input-name"></label>
              <input  type="text" formControlName="name" class="form-control" name="name" id="name" placeholder="Name"  required>
              <br/>
              <div class="col-md-12 col-xs-12 alert alert-danger" role="alert" *ngIf="createContact.get('name')?.errors?.required && createContact.get('name')?.touched">Name is required</div>
            </div>

            <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod">
              <label class="form-label" data-add-placeholder for="mailform-input-email"></label>
              <input type="text" name="email" formControlName="email" placeholder="Email"class="form-control" id="email" required>
              <br/>
              <div class="col-md-12 col-xs-12 alert alert-danger" role="alert" *ngIf="createContact.get('email')?.errors?.required && createContact.get('email')?.touched">Email is required</div>
              <div class="col-md-12 col-xs-12 alert alert-danger" [hidden]="createContact.get('email')?.errors?.required" role="alert" *ngIf="createContact.get('email')?.errors?.pattern">Email is not media type</div>
            </div>

            <div class="form-group textarea col-md-12 col-sm-12 col-xs-12 col_mod">
              <label class="form-label" data-add-placeholder for="mailform-input-textarea"></label>
              <textarea name="message" formControlName="message" placeholder="Message" class="form-control" id="message" required></textarea>

            </div>

            <div class="form-group btn-wr col-md-12 col-sm-12 col-xs-12 col_mod">
              <div class="mfControls">
                <button class="btn btn-primary btn-primary__mod" type="submit" [disabled]="createContact.invalid || valiEmail" data-dismiss="modal" (click)="onCreate()">Submit </button>
                <!-- <div class="mfInfo"></div> -->
              </div>
            </div>
          </form>
        </div>
        <!-- <form class="rd-mailform">
          <div class="form-group">
            <label class="form-label rd-input-label" data-add-placeholder="">Enter your e-mail
            </label>
            <input id="mailform-input-email" type="text" name="email">
          </div>
          <div class="form-group btn-wr">
            <button class="btn btn-primary" type="submit">subscribe</button>
            <div class="mfInfo mfProgress">
              <span class="cnt"></span>
              <span class="loader"></span>
              <span class="msg"></span>
            </div>
          </div>

        </form> -->
     
    </div>
  </div>
</section>